/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS variable*/
:root {
    --font-family: "Roboto Mono", monospace;
    --main-bg-color: #fff;
    --primary-color:#DED1E1;
    --secondary-color: #FEF6EC;
    --accent-color: #fc1883;
  }
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles for body */
body {
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--primary-color);
}

/* Styles for the page heading */
h1{
    font-family: var(--font-family);
    color: var(--secondary-color);
    text-align: center;
    font-size: 45px;
    letter-spacing: 4px;
}

.hero{
    background-color: var(--primary-color);
    padding: 65px 0 30px;
}

/* Styles for a container element */
.container{
    margin: 20px auto;
    padding: 40px 40px;
    max-width: 500px;
    background: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px 10px; 
    border-radius: 25px;
}
/* Styles for a display element */
.display {
    font-size: 24px;
    padding: 5px 5px;
    grid-area: 1 / 1 / 2 / 5;
    max-height: 60px;
    color: var(--accent-color);
    border: 2px solid var(--primary-color);
  border-radius: 4px;
  text-shadow: 0 2px var(--primary-color);
}
/* Styles for buttons section */
.buttons {
    grid-area: 2 / 1 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px 20px; 
}
/* Styles for each buttons */
button {
  background-color: var(--main-bg-color);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--font-family);
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
