/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS variable*/
:root {
    --font-family: 'Roboto Mono', monospace;
    --main-bg-color: #fff;
    --accent-color: #5e6971;
    --ac-button-color: #feb92d;
    --top-bg-button-color: #f6f0e4;
    --top-button-color: #b4a586;
    --right-bg-button-color: #e1d5e9;
    --right-button-color: #4a0078;
    --button-equals-color: #8c27da;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles for body */
body {
    font-family: var(--font-family);
    background: linear-gradient(135deg, #fdfcfb 0%, #cfd3d6 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styles for a container element */
.container {
    margin: 48px auto 24px;
    padding: 48px 24px;
    max-width: 500px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px 0px;
    border-radius: 24px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
/* Styles for a display field element */
.display-field {
    font-size: 42px;
    font-weight: 700;
    text-align: right;
    padding: 36px 5px;
    grid-area: 1 / 1 / 2 / 5;
    max-height: 100px;
    color: var(--accent-color);
    border: none;
}
/* Styles for buttons section */
.buttons-section {
    grid-area: 2 / 1 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
}
/* Styles for each buttons */
button {
    background-color: var(--main-bg-color);
    border-radius: 50%;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    color: var(--accent-color);
    cursor: pointer;
    font-family: var(--font-family);
    height: 89px;
    width: 89px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    font-size: 24px;
    margin: 0px auto;
}

button:hover {
    box-shadow: rgba(66, 56, 35, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}
/* Styles for top buttons */
.button-ac {
    background-color: var(--ac-button-color);
    color: var(--main-bg-color);
    box-shadow: rgba(243, 176, 51, 0.4) 0 2px 4px,
        rgba(110, 88, 48, 0.3) 0 7px 13px -3px, #e7e1d6 0 -3px 0 inset;
}

.top-buttons {
    background-color: var(--top-bg-button-color);
    color: var(--top-button-color);
    box-shadow: rgba(243, 176, 51, 0.4) 0 2px 4px,
        rgba(110, 88, 48, 0.3) 0 7px 13px -3px, #e7e1d6 0 -3px 0 inset;
}
.button-ac:hover,
.top-buttons:hover {
    box-shadow: rgba(66, 48, 35, 0.4) 0 4px 8px,
        rgba(66, 54, 35, 0.3) 0 7px 13px -3px, #e7ddd6 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-ac:active,
.top-buttons:active {
    box-shadow: #e7ded6 0 3px 7px inset;
    transform: translateY(2px);
}

/* Styles for right buttons */
.right-buttons {
    background-color: var(--right-bg-button-color);
    color: var(--right-button-color);
    box-shadow: rgba(166, 51, 243, 0.4) 0 2px 4px,
        rgba(95, 48, 110, 0.3) 0 7px 13px -3px, #e3d6e7 0 -3px 0 inset;
}
.button-equals {
    background-color: var(--button-equals-color);
    color: var(--main-bg-color);
    box-shadow: rgba(166, 51, 243, 0.4) 0 2px 4px,
        rgba(95, 48, 110, 0.3) 0 7px 13px -3px, #e3d6e7 0 -3px 0 inset;
}
.right-buttons:hover,
.button-equals:hover {
    box-shadow: rgba(58, 35, 66, 0.4) 0 4px 8px,
        rgba(58, 35, 66, 0.3) 0 7px 13px -3px, rgb(226, 214, 231) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.right-buttons:active,
.button-equals:active {
    box-shadow: rgb(227, 214, 231) 0 3px 7px inset;
    transform: translateY(2px);
}
/* Styles for footer */
footer {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 30px;
    color: var(--accent-color);
}

/* Styles for link */
a {
    text-decoration: none;
    color: var(--accent-color);
    font-size: 16px;
}
a:hover {
    color: var(--top-button-color);
}

/* Styles for the logo in Footer */
.logo {
    width: 80px;
    position: relative;
    top: 10px;
}
/* Medium devices */
/* browser window is 600px or smaller */
@media only screen and (max-width: 600px) {
    .container {
        margin: 110px auto 32px;
        max-width: 350px;
    }
    .display-field {
        font-size: 26px;
        max-height: 80px;
    }
    button {
        font-size: 20px;
        height: 68px;
        width: 68px;
    }
}
@media only screen and (max-width: 300px) {
    .container {
        max-width: 270px;
    }
    .display-field {
        font-size: 18px;
        max-height: 80px;
    }
    button {
        font-size: 14px;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
    }
}
